<body class="bg-dark">
  <div class="container" style="height : 100vh">
    <div
      class="row justify-content-center align-items-center"
      style="height : 100vh"
    >
      <div class="col-12">
        <a
          href="/admin/galgos"
          class="btn btn-info btn-block"
          role="button"
        >Galgos</a>
        <a
          href="/admin/organizacion"
          class="btn btn-info btn-block"
          role="button"
        >Organizacion</a>
        <a
          href="/admin/users"
          class="btn btn-info btn-block"
          role="button"
        >Users</a>
        <a
          href="/admin/Voluntarios"
          class="btn btn-info btn-block"
          role="button"
        >voluntarios</a>
      </div>
    </div>
  </div>

</body>