<div class="container">
  <div
    class="row justify-content-center align-items-center"
    style="height : 100vh"
  >

    <form
      method="POST"
      action="/admin/voluntarios/create"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          name="nombre"
          placeholder="nombre"
        />
      </div>
      <div class="form-group">
        <label for="Apellido">Apellido:</label>
        <input
          type="text"
          class="form-control"
          id="apellido"
          name="apellido"
          placeholder="apellido"
        />
      </div>
      <div class="form-group">
        <label for="direccion">Direccion:</label>
        <input
          type="text"
          class="form-control"
          id="direccion"
          name="direccion"
          placeholder="direccion"
        />
      </div>
      <div class="form-group">
        <label for="mail">Mail:</label>
        <input
          type="mail"
          class="form-control"
          id="mail"
          name="mail"
          placeholder="mail"
        />
        <div class="form-group">
        <label for="mail">Agregar foto</label>
        <input
          type="file"
          
          id="imagen"
          name="imagen"
          placeholder="foto"
        />

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-block btn-primary mt-2">Agregar
            Voluntario</button>

        </div>

      </div>

    </form>

  </div>

</div>