<body class="bg-dark">
  <div class="container-fluid">
    <div
      class="row justify-content-center align-items-center"
      style="height : 100vh"
    >

      <form
        method="POST"
        action="/admin/galgos/create"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="nombre" style="color:#C821E5 !important">Nombre:</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            name="nombre"
            placeholder="nombre"
          />
        </div>
        <div class="form-group">
          <label for="edad" style="color:#C821E5 !important">Edad:</label>
          <input
            type="number"
            class="form-control"
            id="edad"
            name="edad"
            placeholder="edad"
          />
        </div>
        <div class="form-group" style="color:#C821E5 !important">
          <label for="descripcion">Descripcion:</label>
          <input
            type="text"
            class="form-control"
            id="descripcion"
            name="descripcion"
            placeholder="descripcion"
          />
        </div>
        <div class="form-group" style="color:#C821E5 !important">
          <label for="color">color:</label>
          <input
            type="colo"
            class="form-control"
            id="color"
            name="color"
            placeholder="color"
          />
          <select
            name="id_organizacion"
            id="id_organizacion"
            class="form-select mt-3"
          >
            {{#each organizacion}}
              <option value="{{id}}">{{nombre}}</option>
            {{/each}}

          </select>
          <div class="form-group">
            <label for="imagen" style="color:#C821E5 !important">Agregar Imagen</label>
            <input type="file" id="imagen" name="imagen" placeholder="foto" />
          </div>
          <div class="d-grid gap-2">
            <button
              type="submit"
              class="btn btn-block btn-primary mt-2"
              style="color:#C821E5 !important"
            >Agregar</button>

          </div>

        </div>

        <p class="text-danger">{{message}}</p>
      </form>
    </div>

  </div>
</body>