<nav class="navbar navbar-expand-lg navbar-light bg-dark" >
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/index" style="color:#C821E5 !important">ADOPT ME</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        
                        <li class="nav-item"><a class="nav-link" href="/registro" style="color:#C821E5 !important">Registro</a></li>
                        <li class="nav-item"><a class="nav-link" href="/galgos" style="color:#C821E5 !important">Galgos</a></li>
                        
                    
                </div>
            </div>
        </nav>
<div class="container-fluid bg-dark">
  <div
    class="row justify-content-center align-items-center"
    style="height : 100vh"
  >

    <form method="POST" action="/registro">
      <div class="form-group">
        <label for="Username" style="color:#C821E5 !important">Username:</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="username"
        />
      </div>
      <div class="form-group">
        <label for="pass" style="color:#C821E5 !important">Pass:</label>
        <input
          type="password"
          class="form-control"
          id="pass"
          name="pass"
          placeholder="password"
        />
      </div>
      <div class="form-group">
        <label for="telefono" style="color:#C821E5 !important">Telefono:</label>
        <input
          type="number"
          class="form-control"
          id="telefono"
          name="telefono"
          placeholder="telefono"
        />
      </div>
      <div class="form-group">
        <label for="mail" style="color:#C821E5 !important">Email:</label>
        <input
          type="email"
          class="form-control"
          id="mail"
          name="mail"
          placeholder="name@example.com"
        />
        <div class="d-grid gap-2" style="color: black !important;">
          <button
            type="submit"
            class="btn btn-block btn-primary mt-2 color"
            style="color: black !important; background-color:#C821E5"
          >registrate</button>

        </div>
      </div>
      <p class="text-danger">{{message}}</p>

    </form>

  </div>

</div>