<body class="bg-dark">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="card justify-content-center" style="width: 18rem;">

          <div class="card-body">
            <h5
              class="card-title"
              style="color:#C821E5 !important"
            >{{usuario.username}}</h5>
            <p
              class="card-text"
              style="color:#C821E5 !important"
            >{{usuario.mail}}</p>
            <p
              class="card-text"
              style="color:#C821E5 !important"
            >{{usuario.telefono}}</p>
            <a href="/galgos" class="btn btn-primary">Ver galgos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>